@import "tailwindcss/base";
@import "maplibre-gl/dist/maplibre-gl.css";

@import "tailwindcss/components";
/* @import "./custom-components.css"; */

@import "tailwindcss/utilities";

.maplibregl-popup-content {
  border-radius: var(--border-radius-xlarge);
  box-shadow: none;
  padding: 0;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}
